/* universal selector is applied to all possible elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color of entire page is light grey(#d9dcd6) */
body {
    background-color: #d9dcd6;
}

/* 20px of space around the content in the element, fonts listed below are used, backrgound color is a slate blue(#2a607c), font color is white(#ffffff) */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* "Hori", "seo", and "n" are 48px and elements are displayed horizontally  */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* "seo" in "Horiseon" is colored light grey(#d9dcd6) */
header h1 .seo {
    color: #d9dcd6;
}

/* 15px of padding on top of element and 20px of margin on the right; elements are floated to the right, fonts listed below are used, and font size is 20px */
header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* list is shown horizontally and each item of list is set 25px left of margin */
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* font color of anchor elements are white(#ffffff) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* font size is 16px of paragraph elements*/
p {
    font-size: 16px;
}

/* image is 800px high and takes up entire width with a 25px margin on the bottom */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* elements in this class have a width of 75% of the page with a margin of 20px on the left, and have a display type of inline-block*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* describes dimensions of box around elements in these classes along with the classes having a background color of slate blue(#0072bb), a font color of white(#ffffff), and uses the font family below */
.search-engine-optimization, .online-reputation-management, .social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* images in this class have a maximum height of 200px */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img  {
    max-height: 200px;
}

/* font size of elements in h2 are 36px with a margin of 36px on the bottom */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* images assigned to this class float to the left and have a margin of 25px on the right */
.float-left {
    float: left;
    margin-right: 25px;
}

/* images assigned to this class float to the right and have a margin of 25px on the left */
.float-right {
    float: right;
    margin-left: 25px;
} 

/* describes the dimensions of the elements in this box with a background color of blue(#2589bd) along with using the font family below */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* font color is white(#ffffff) with a margin on the bottom of 32px */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* the text is centered in the box with a margin of 10px on the bottom */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* image assigned to these classes have a margin of 10px on all sides, a maximum width of 150px, and a block display type */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* elements in the footer use the font family below, are in the center of the page, and have a font size of 20px */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

